<!-- <em>widget N° {{ config.index }} : {{ config.key }} </em> -->
<ng-template #widgetcontainer></ng-template>
<!-- <iframe src="http://www.ville-bedee.fr/admin/upload/semaine6_2019_01.pdf"
      width="100%"
      height="100%"
      align="middle"></iframe> -->
<!-- <div class="weather"
      *ngIf="widget.componentConfig.name === 'WeatherComponent'">
      <h2 *ngIf="widget?.componentConfig?.label">
        {{ widget.componentConfig.label }}</h2>
      <em>{{ widget?.componentConfig?.placeholder }}</em>
      <app-city (change)="changeCity($event)"></app-city>

      <mat-button-toggle-group #weatherGroup="matButtonToggleGroup"
        aria-label="Météo"
        [value]="weatherMode">
        <mat-button-toggle value="{{ weatherModeEnum.Current }}">Aujourd'hui</mat-button-toggle>
        <mat-button-toggle value="{{ weatherModeEnum.Forecast }}">toutes les 3 heures</mat-button-toggle>
        <mat-button-toggle value="{{ weatherModeEnum.Daily }}">sur 7 jours</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <app-weather #weatherComponent
      [city]="city"></app-weather> -->