<div class="container">
  <h3 mat-dialog-title>
    <span>Configuration du widget</span>
  </h3>

  <form (ngSubmit)="submit()"
    #formControl="ngForm">

    <!-- <span>Blabla</span> -->
    <div *ngIf="city"
      class="city">
      <app-city name="city"
        [city]="city"
        (change)="cityChanged($event)">
      </app-city>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button
        color="primary"
        [type]="submit"
        [disabled]="!isValid()"
        (click)="submit()">
        <span>Valider</span>
      </button>
      <button mat-raised-button
        (click)="close()"
        tabindex="-1">
        <span>Annuler</span>
      </button>
    </div>
  </form>
</div>