<form>
  <!-- <div class="flex-container"> -->
  <!-- <div class="news">
      <h2>Actualité</h2>
      <mat-button-toggle-group #newsGroup="matButtonToggleGroup"
      aria-label="Actualité"
        value="news">
        <mat-button-toggle value="today">Aujourd'hui</mat-button-toggle>
        <mat-button-toggle value="yesterday">Hier</mat-button-toggle>
        <mat-button-toggle value="week">sur 7 jours</mat-button-toggle>
      </mat-button-toggle-group>
    </div> -->
  <!-- </div> -->

  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion> -->
  <mat-sidenav-container class="sidenav-container"
    autosize>
    <mat-sidenav #sidenav
      class="sidenavPanel"
      mode="side"
      (openedChange)="onPositionChanged($event)">
      <p>Menu d'édition</p>
      <ul class="noPuce widgetMenu">
        <li>
          <mat-slide-toggle class="editableMode"
            [checked]="editable"
            [disabled]="false"
            (change)="onActivateEdit($event.checked)">Mode Edition
          </mat-slide-toggle>
        </li>
      </ul>

      <app-menu [config]="config"
        [disabled]="!editable || isFullScreen"
        (actionWidget)="addWidget($event)"></app-menu>
      <ul class="noPuce fixedbottom">
        <li>
          <button mat-raised-button
            class="widgetMenu"
            [disabled]="!editable"
            (click)="resetWidgets()"><i class="fas fa-eraser"></i>&nbsp;Réinitialiser</button>
        </li>
        <li>
          <button mat-raised-button
            class="widgetMenu"
            color="warn"
            (click)="sidenav.toggle()"><i class="fas fa-sign-out-alt"></i>&nbsp;Fermer</button>
        </li>
      </ul>

    </mat-sidenav>

    <mat-sidenav-content>
      <div class="phantom fixedbottom">
        <button mat-icon-button
          (click)="sidenav.toggle()">
          <i class="fas fa-angle-double-right"
            [class.fa-rotate-180]="sidenavOpened"></i>
        </button>
      </div>
      <div>
        <ngx-widget-grid #grid
          [rows]="6"
          [columns]="6"
          [highlightNextPosition]="false"
          [showGrid]="showGrid"
          (gridFull)="onGridFull($event)"
          (widgetPositionChange)="onWidgetChange($event)">
          <ngx-widget *ngFor="let widget of widgets;let $index = index;"
            [position]="widget.position"
            [movable]="editable"
            [resizable]="editable"
            [swapOnMove]="swapWidgets">
            <div style="height:100%;width:100%; display:flex;">
              <div class="scrollbar style-scroll"
                [ngStyle]="{'background-color': widget.color}">
                <div class="tools topright"
                  *ngIf="editable">
                  <button mat-icon-button
                    [title]="widget | json"
                    class="phantom"
                    (click)="copy(widget)">
                    <i class="fas fa-info-circle"></i>
                  </button>
                  <button mat-icon-button
                    class="phantom"
                    (click)="editWidget($index)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button mat-icon-button
                    class="phantom"
                    (click)="askDeleteWidget($index)">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
                <app-widget [config]="widget.config"></app-widget>
              </div>
            </div>
          </ngx-widget>
          <!-- <ngx-widget *ngFor="let widget of widgets;let $index = index;"
            [position]="widget.position"
            [movable]="editable"
            [resizable]="editable"
            [swapOnMove]="swapWidgets">
            <div style="height:100%;width:100%; display:flex;">
              <div class="scrollbar style-scroll"
                [ngStyle]="{'background-color': widget.color}">
                <div class="tools topright"
                  *ngIf="editable">
                  <button mat-icon-button
                    class="phantom"
                    (click)="editWidget()">
                    <i class="fa fa-pen"></i>
                  </button>
                  <button mat-icon-button
                    class="phantom"
                    (click)="askDeleteWidget()">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
                <ng-template appWidget></ng-template>
              </div>
            </div>
          </ngx-widget> -->
        </ngx-widget-grid>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</form>