<form>
  <app-city (change)="changeCity($event)"></app-city>
  <div class="flex-container">
    <!-- <div class="news">
      <h2>Actualité</h2>
      <mat-button-toggle-group #newsGroup="matButtonToggleGroup"
        aria-label="Actualité"
        value="news">
        <mat-button-toggle value="today">Aujourd'hui</mat-button-toggle>
        <mat-button-toggle value="yesterday">Hier</mat-button-toggle>
        <mat-button-toggle value="week">sur 7 jours</mat-button-toggle>
      </mat-button-toggle-group>
    </div> -->
    <div class="weather">
      <h2>Météo</h2>
      <mat-button-toggle-group name="mode" #weatherGroup="matButtonToggleGroup"
        aria-label="Météo"
        value="{{ weatherModeEnum.Forecast }}">
        <mat-button-toggle value="{{ weatherModeEnum.Current }}">Aujourd'hui</mat-button-toggle>
        <mat-button-toggle value="{{ weatherModeEnum.Forecast }}">toutes les 3 heures</mat-button-toggle>
        <mat-button-toggle value="{{ weatherModeEnum.Daily }}">sur 7 jours</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion> -->
  <app-weather #weatherComponent></app-weather>
</form>